extends ../shared/template

block content
  //- .row
  //-   .col-xs-3
  //-     h3 Race
  //-     select#race(name='race')
  //-       each race in races
  //-         option(value=race._id)= race.name
  //-   .col-xs-3
  //-     h3 Class
  //-     select#class(name='class')
  //-       each clss in classes
  //-         option(value=clss._id)= clss.name
  //- .row
  //-   .col-md-12
  //-     h3.pull-left Ability Scores
  .row
    .col-xs-12
      .panel.panel-primary
        .panel-heading Ability Scores
        .panel-body
          .row
            .col-sm-4
              .row
                .col-xs-12
                  h4 Method
              .row
                .col-xs-12
                  select#ability-score-method(name='ability-score-method')
                    - var abilityRollMethodsByID = {};
                    each method in abilityRollMethods
                      - abilityRollMethodsByID[method._id] = method;
                      option(value=method._id)= method.name
              .row
                .col-xs-12
                  hr
                  h4 Rules
              #rules-na
                .row
                  .col-xs-12 N/A
              #ability-assignment
                .row
                  .col-xs-12
                    input#ability-score-assignment(type='checkbox' name='ability-score-assignment')
                    label.m-l-5(for='ability-score-assignment') Fixed Order
              .row.m-t-5
                .col-xs-12
                  hr
                  button#roll-abilities-btn.btn.btn-primary.pull-right(type='button') Roll Abilities
            .col-sm-8
              .row
                .col-xs-12
                  p
                    b.ability-score-method-name
                    a.text-info(href='#')
                      i.fa.fa-1x.fa-question-circle.m-l-5
                .col-xs-12
                  table#abilities-table.table.table-striped.table-hover.nowrap
                    thead
                      tr
                        th
                        th Base Score
                        th Race Bonus
                        th Subrace Bonus
                        th Class Bonus
                        th Total Score
                    tbody
                      each ability in abilities
                        tr(id=ability.name)
                          td= ability.abbreviation
                          td.ability-base
                          td.ability-race-bonus 0
                          td.ability-subrace-bonus 0
                          td.ability-feat-bonus 0
                          td.ability-total
  //- .row
  //-   .col-md-12
  //-     - var abilities = ['Strength','Dexterity','Constitution','Intelligence','Wisdom','Charisma'];
  //-     each ability in abilities
  //-       - var ability_lc = ability.toLowerCase();
  //-       .row.p-b-sm(id=ability_lc)
  //-         .col-xs-3
  //-           .ability-score

block scripts
  script.
    abilityRollMethods = !{JSON.stringify(abilityRollMethodsByID)};
  script(src="/js/compiled/characters/create.js")
